JDK_HOME = /path/to/my/jdk

# Canonical name for native 32-build, as expected by Java Native Loader
# See https://github.com/uw-dims/java-native-loader.
ARCH = x86

PREFIX = Some prefix string, perhaps a Maven groupId or some Java package

LIBNAME = Some library name, perhaps a Maven artifactId or Java class 

# eof

